.flag-animation-container {
  .flag {
    animation-name: blink;
    animation-duration: 400s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

    position: absolute;
    font-size: 1.5rem;
    opacity: 0%;
    pointer-events: none;

    &:nth-child(1) {
      animation-duration: 2s;
    }
    &:nth-child(2) {
      animation-duration: 2.4s;
    }
    &:nth-child(3) {
      animation-duration: 2.2s;
    }
    &:nth-child(4) {
      animation-duration: 3.2s;
    }
    &:nth-child(5) {
      animation-duration: 1.6s;
    }
    &:nth-child(6) {
      animation-duration: 1.8s;
    }
  }
}

@keyframes blink {
  25%,
  75% {
    opacity: 0%;
  }
  40%,
  60% {
    opacity: 100%;
  }
}
